<tr {{ block.shopify_attributes }}>
  <td>{{ block.settings.label | escape }}</td>
  <td>{{ block.settings.value | escape }}</td>
</tr>

{% schema %}
{
  "name": "Row",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "placeholder": "e.g. Width (mm)"
    },
    {
      "type": "text",
      "id": "value",
      "label": "Value",
      "info": "กดไอคอน 🗄 เพื่อเชื่อมต่อ metafield โดยตรง"
    }
  ]
}
{% endschema %}
